<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery_hour.name %>
</p>

<%= link_to 'Edit', edit_delivery_hour_path(@delivery_hour) %> |
<%= link_to 'Back', delivery_hours_path %>
