<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @suggested_age.name %>
</p>

<%= link_to 'Edit', edit_suggested_age_path(@suggested_age) %> |
<%= link_to 'Back', suggested_ages_path %>
