<div class="row border-bottom">
  <nav class="navbar navbar-static-top " role="navigation" style="height:50px;margin-bottom: 0; background-color: white;">
    <div class="navbar-header topnav-otto ">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-success " style="margin-top: 0; margin-bottom: 0;" href="#"><i class="fa fa-bars"></i> </a>
    </div>
      <ul class="nav navbar-top-links navbar-right topnav-otto">
        <li><span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Bienvenido a El Tablero de Otto</span></li>
        <li>
          <a href="<%= url_for(action: 'destroy', controller: 'user/sessions') %>" data-method="delete">
            <i class="fa fa-sign-out"></i> Cerrar Sesión</a>
        </li>
      </ul>
  </nav>
</div>